<%= form_for [refinery, :photo_gallery_admin, @album] do |f| -%>
    <% album_photos_count = @album.photos.count #reduce sql queries%>
    <%= render :partial => "/refinery/admin/error_messages",
               :locals => {
                       :object => f.object,
                       :include_object_name => true
               } %>

    <%= f.hidden_field :world_trade_center_id, value: f.object.world_trade_center_id || current_refinery_user.world_trade_center_id %>

    <div class='field'>
      <%= f.label :title, :class=>"required" %><br />
      <%= f.text_field :title, {:class => 'larger widest'} %><br />
    </div>

    <%# TODO  use pop up to create collection %>
    <div class='field'>
      <%= label :collection, t('.album_belongs_to_collection')   %>
      <%= collection_select(:album, :collection_ids, Refinery::PhotoGallery::Collection.all(:order=> "title ASC"), :id, :title,
                            { },
                            { :data => {:placeholder => t('.choose_collection')}, :multiple => true, :class => "chzn-select", :style => "width:400px;"}) %>
    </div>

    <div class='field'>
      <%= f.label :description %><br />
      <%= f.text_area :description, :cols=>'65', :rows=>'7' %><br />
    </div>

    <div id="more_photo_options_field">
      <p><a href="#" id="toggle_advanced_options" title="<%= t('.more_options_tooltip') %>"><%= t('.more_options') %></a></p>
    </div>

    <div id="more_options" style="display: none;">
      <div class='field'>
        <%= f.label :note %><br />
        <%= f.text_area :note, :cols=>65, :rows=> 7 %><br />
      </div>
    </div>

    <br />
    <%= t('.number_of_photos', :number=> album_photos_count ) %><br/>


    <%= render :partial => "/refinery/admin/form_actions",
               :locals => {
                       :f => f,
                       :continue_editing => false,
                       :delete_title => t('delete', :scope => 'refinery.photo_gallery.admin.albums.album')
               } %>
<% end %>